#exportPattern("*\\.ridge")
#exportPattern("precision\\.*")
# also:
#export(ridge,  traceplot)

export(ridge, 
	coef.ridge, print.ridge, plot.ridge, pairs.ridge, traceplot, 
	trans.colors, pca.ridge,
	vcov.ridge, 
	precision, precision.ridge, precision.lm, 
	vif.ridge, plot3d.ridge
)

S3method(coef, ridge)
S3method(print, ridge)
S3method(plot, ridge)
S3method(pairs, ridge)
S3method(vcov, ridge)
S3method(precision, ridge)
S3method(precision, lm)
S3method(vif, ridge)

importFrom(car, vif)
# to make plot3d.ridge an S3 method; but this requires Depends: rgl
#importFrom(rgl, plot3d)